* {
  margin: 0;
  padding: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 230, 141);
  color: rgb(95, 46, 0);
  width: 100%;
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  font-weight: 600;
}

input {
  display: none;
}
.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  row-gap: 5%;
  height: 100%;
}

.slider-images {
  overflow: hidden;
  border-radius: 0.5rem;
}

.slider-images-inner-container {
  display: flex;
  width: 400%;
  transition: transform 0.5s;
}

.slider__img {
  width: 25%;
}

.slider-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slide__text {
  display: none;
  transition: transform 1s;
}

.slider-controls {
  display: flex;
}

.visual {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgb(151, 109, 84);
  background-color: rgba(251, 255, 0, 0.096);
  transition: transform 0.3s;
}

.slider__control {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  row-gap: 10%;
}

.slider__control:hover > .visual {
  border: 2px solid rgb(75, 27, 0);
  transition: border 1s;
}

.slider__control:active > .visual {
  background-color: rgb(245, 155, 0);
  transform: scale(1.5);
  transition: transform 0.5s;
}


/* switching images */

#slide1:checked~.slider-images .slider-images-inner-container {
  transform: translateX(0);
}

#slide2:checked~.slider-images .slider-images-inner-container {
  transform: translateX(-25%);
}

#slide3:checked~.slider-images .slider-images-inner-container {
  transform: translateX(-50%);
}

#slide4:checked~.slider-images .slider-images-inner-container {
  transform: translateX(-75%);
}

/* switching controls input */

#slide1:checked~.slider-bottom .slider-controls #dote-1 .visual,
#slide2:checked~.slider-bottom .slider-controls #dote-2 .visual,
#slide3:checked~.slider-bottom .slider-controls #dote-3 .visual,
#slide4:checked~.slider-bottom .slider-controls #dote-4 .visual {
  background-color: rgb(255, 187, 0);
}

/* switching text */

#slide1:checked~.slider-bottom .slider-text .slide__text:nth-child(1),
#slide2:checked~.slider-bottom .slider-text .slide__text:nth-child(2),
#slide3:checked~.slider-bottom .slider-text .slide__text:nth-child(3),
#slide4:checked~.slider-bottom .slider-text .slide__text:nth-child(4) {
  display: block;
  animation: animate-text 0.5s;
}

@keyframes animate-text {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}